
<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>
    
    <%- include('./partials/nav.ejs') %>
   
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, aliquam delectus temporibus quam et tenetur magni nisi officiis nostrum quibusdam, autem eum velit, animi fuga sit? Tenetur qui sunt amet nostrum quidem ad doloribus, aliquid fuga iste. Dolor, totam molestias.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus commodi esse sed, magnam dolore consectetur impedit amet odit eius tempore optio. Natus perspiciatis aperiam, et ipsum, eveniet eligendi tempora obcaecati fuga ut vitae consequuntur vel aspernatur consequatur velit maxime! A.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem perspiciatis id ducimus delectus, debitis harum soluta dolorem esse eius deleniti repudiandae vel voluptate, molestiae, autem nisi maiores optio. Necessitatibus impedit ullam voluptates magnam quia similique modi facilis error ipsum asperiores!</p>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>